.navbar{
    background:#fa7079;
    color: white;
    padding
}
.jumbotron{
    background-image: url("./Hero-banner-19th-updated.png");
    width: 100%;
    background-size:cover;
    height: 450px;
   /* border-radius: 0%;*/
}
#img{
    border-radius: 0%;
}

article{
    position: absolute;
    right: 308px;
    top: 338px;
}
.searchbox{
    border-color: rgb(210, 210, 210);
    position: relative;




}

#navbarDropdown{
    margin-right: auto;
    color: white;
    font-size: smaller;
    font-family: inherit;
}
#nnavbarDropdown{
    color: white;
    font-size: smaller;
    font-family: inherit;
}
#bnavbarDropdown{
    margin-right: 105px;
    color: white;
    font-size: smaller;
    font-family: inherit;
}
.btn{
    margin-right: -5px;
   
    border: 1px solid #d2d2d2;
    height: 46px;
    background-color: #fff;
    box-shadow: 4px 4px 13px rgb(37, 36, 36);

}
input[type=text]
{
    border-radius:0%;
    border-style:none;
}
#date
{
    border-radius:inherit;
    border-style:none;
}
#search{
   
    border-radius:inherit;
    border-style:none;
}
::placeholder{
    text-align: center;
    
}
/*---for the card section---*/
.offer{
    font-size: 11px;
    margin-right: auto;
    margin-left: auto;
    color: gray;
    font-family: unset;
    font-weight: 600;
    font-family: montserrat;
}
.col-md-3{
    margin-right: auto;
    margin-left: 94px;
    padding: 4px;
}
.limited-offer{
    font-size: 11px;
    font-weight: 600;
    color: #4a4a4a;
    display: block;
    box-sizing: border-box;
    margin-left: 77px;
    font-family: montserrat;
}
.postpaid{
    font-size: 14px;
    font-weight: 600;
    color: #4a4a4a;
    text-align: center;
}

.fas{
    position: absolute;
    font-size: 19px;
    top: 21%;
    padding: 3px;
    color: #9e9898;
}
.far{
    position: absolute;
    font-size: 19px;
    top: 21%;
    padding: 3px;
    color: #9e9898;
}
.optional-wrap {
    position: absolute;
    top: 50px;
    width: 35%;
    right: 57px;
    font-style: italic;
    color: #fff;
}


